<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie tracker</title>
    <link rel="stylesheet" href="../assets/styles/main.css">
</head>
<body>
    <nav>
        <h2>Groupies</h2>
        <ul>
            <a href="/"><li>Home</li></a>
        </ul>
    </nav>
    <div class="container">
    <h1 class="op-title">You know where to find stars!</h1>
   <div class="grid">
    {{range .}}
    <div class="card">
        <a href="/artist/{{.Id}}">
            <img class="card-img" src="{{.Image}}" alt="image">
            <p class="card-title">{{.Name}}</p>
        </a>
    </div>
{{end}}
   </div>
    </div>
</body>
</html>